#one{
    border-right: 1px solid grey;
}
img{
    margin: 10px;
    padding-right: 10px;
}
#two{
    margin-bottom: 25px;
}
span b{
    padding-bottom: 40px;
}
.bg-body-tertiary{
    width: auto;
    height:100px;
    border: 1px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    
}
.searchbar{
    
    width:30vw;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.abc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#img{
    height:100%;
    width:auto;
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
#ser{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#ser img{
    height: 30px;
    width: 30px;
}
#nav2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#con1{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f4f4f4; 
    padding: 8px 12px;
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 30vw;
  }
  
  .search-bar i {
    color: #d4d0d0; 
    margin-right: 10px; 
  }
  
  .search-bar input {
    border: none; 
    outline: none; 
    background-color: transparent; 
    font-size: 16px;
    color: #333; 
    flex: 1; 
  }
  
  .search-bar input::placeholder {
    color: #5e5c5c;
  }
  #pqr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }
  select {
    border: none;
    outline: none; 
  }